@model Builderz.Models.Blocks.CardItem

@if (Model != null)
{
    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="service-item">
            <div class="service-img">                
                @Html.PropertyFor(p=>p.Image)
                <div class="service-overlay">
                    <p>@Html.PropertyFor(p=> p.Body)</p>
                </div>
            </div>
            <div class="service-text">
                <h3>@Html.PropertyFor(p=> p.Title)</h3>
                <a class="btn" href="@Url.ContentUrl(Model.Image)" data-lightbox="service">+</a>
            </div>
        </div>
    </div>
}